.form {
  width: 100%;
}

.formGroup {
  margin-bottom: 1.5rem;
  width: 100%;
}

.formLabel {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #374151;
  font-size: 0.875rem;
}

.formInput {
  width: calc(100% - 1.5rem);
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  font-size: 1rem;
  transition: all 0.2s ease;
  color: #1a1a1a;
  background-color: #f0f0f0;
  font-family: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.formInput{
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); /* prueba también hue-rotate(), sepia(), etc. */
}


.formInput:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.formInput::placeholder {
  color: #9ca3af;
}

.formTextarea {
  min-height: 100px;
  resize: vertical;
  line-height: 1.5;
}

.formSelect {
  composes: formInput;
  padding-right: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236B7280' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1em;
}

.formSelect::-ms-expand {
  display: none;
}

.formDateInput {
  composes: formInput;
}

.formActions {
  display: flex;
  gap: 0.75rem;
  margin-top: 2rem;
  justify-content: center;
}

.button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-family: inherit;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.buttonPrimary {
  composes: button;
  background-color: #3b82f6;
  color: white;
}

.buttonPrimary:hover {
  background-color: #2563eb;
}

.buttonSecondary {
  composes: button;
  background-color: #f3f4f6;
  color: #4b5563;
}

.buttonSecondary:hover {
  background-color: #e5e7eb;
}

@media (max-width: 768px) {
  .formActions {
    flex-direction: column;
    gap: 0.5rem;
  }

  .button {
    width: 100%;
  }
} 